<p>
  cart-list works!
</p>
<div class="row s4">
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="http://lorempixel.com/640/480/food/1"/>
        <div class="card-block">
          <h3 class="card-title">myFood1</h3>
          <p class="card-text">Morbi viverra non ante sit amet consequat. Nam tempus elit et iaculis lobortis. </p>
          <button type="button" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="http://lorempixel.com/640/480/food/2"/>
        <div class="card-block">
          <h3 class="card-title">Phasellus Cursus Lorem</h3>
          <p class="card-text">Maecenas volutpat nibh sapien.</p>
          <button type="button" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="http://lorempixel.com/640/480/food/3"/>
        <div class="card-block">
          <h3 class="card-title">Curabitur a Arcu Turpis</h3>
          <p class="card-text">In hac habitasse platea dictumst. Sed euismod justo sed auctor malesuada.</p>
          <button type="button" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="http://lorempixel.com/640/480/food/4"/>
        <div class="card-block">
          <h3 class="card-title">myFood4</h3>
          <p class="card-text">Donec consequat nulla non metus aliquam, at bibendum mauris convallis. Morbi dapibus ultricies tortor, eget laoreet ligula pretium quis. Aliquam erat volutpat.</p>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary">-</button>
              <button type="button" disabled class="btn btn-outline-primary">2</button>
              <button type="button" class="btn btn-primary">+</button>
            </div>
        </div>
      </div>
    </div>
  </div>
